Django>=6.0.0
djangorestframework>=3.15.0
djangorestframework-simplejwt>=5.3.0
django-cors-headers>=4.3.0
django-filter>=24.0
pillow>=10.0.0
python-dotenv>=1.0.0
agora-token-builder>=1.0.0
firebase-admin>=6.5.0
